<section>
  <div class="container">
    <h3 class="title-architecture">
      Fullstack — це термін, що використовується в розробці програмного
      забезпечення для опису фахівця, який має знання та навички в двух частинах
      веб-розробки: фронтенд (клієнтська частина) та бекенд (серверна частина).
    </h3>
    <h3 class="frontend">
      Фронтенд — це все, що користувач бачить та взаємодіє з ним, зазвичай
      розробляється за допомогою HTML, CSS та JavaScript.
    </h3>
  </div>
</section>
